/* Your code goes here */

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
  }
  
  /* Center and style heading */
  h1 {
    font-size: 16px;
    color: #444444;
    text-align: center;
  }
  
  /* Define container class */
  .container {
    margin: 5px;
    font-size: 13px;
    text-align: center;
  }
  
  /* Define offer class */
  .offer {
    display: inline-block;
    width: 400px;
    margin: 4px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 1px;
    box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
  }
  
  /* Define offer title class */
  .offerTitle {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #00b3b3;
    margin: 0px;
    padding: 15px;
  }
  
  /* Define offer contents class */
  .offerContents {
    padding: 20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #fafafa;
  }
  
  /* Style tables */
  table {
    width: 100%;
    background-color: #ffffff;
    border-spacing: 0;
    box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
  }
  
  /* Style table headers */
  th {
    font-weight: bold;
    color: #777777;
    padding: 10px;
    margin: 0px;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
  }
  
  /* Style table data */
  td {
    font-weight: lighter;
    color: #444444;
    padding: 20px 10px;
    margin: 0px;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
  }
  
  /* Define finalValue class */
  .finalValue {
    font-weight: bold;
    color: #2222ff;
  }
  